Package: com.82flex.noredirect
Name: No Redirect
Version: 1.0
Architecture: iphoneos-arm
Description: Stop specified apps from redirecting to App Store, Safari or other apps.
Maintainer: Lessica <82flex@gmail.com>
Author: Lessica <82flex@gmail.com>
Section: Tweaks
Depends: firmware (>= 14.0), mobilesubstrate, com.opa334.altlist, com.opa334.libsandy
